@media screen and (max-width: 768px) {
  .fondo{
    background-image: url("../../assets/img.jpeg");
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2vh;
    .card {
      width: 50%;
      margin: 2vh 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .actions{
        button:hover{
          background-color: blueviolet ;
          color: white;
        }
      }
    }

  }
}
@media screen and (min-width: 768px) {
.fondo {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/img.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  .card:hover{
    opacity: 1;
    transform: scale(1.1);
  }
  #movie_1{
    margin: 0 1.5vh 13% 1.5vh;
  }
  #movie_2{
    margin: 11% 1.5vh 5% 1.5vh;
  }
  #movie_3{
    margin: 3% 1.5vh 13% 1.5vh;
  }
  #movie_4{
    margin: 11% 1.5vh 7% 1.5vh;
  }
  #movie_5{
    margin: 0 1.5vh 15% 1.5vh;
  }
  .card {
    height: auto;
    width: 15%;
    top: 5%;
    margin: 0 2vh;
    opacity: 0.6;
    transition: all .5s linear;
    .header {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .content {
      display: flex;
      flex-flow: column;
      align-items: center;
        h2 {
          font-size: 20px;
          padding: 1em 0em;
          text-align: center;
        }
      }
      .actions {
        display: flex;
        flex-flow: column;
        align-items: center;
        button:hover{
          background-color: blueviolet ;
          color: white;
        }
    } 

  }
} 
}