:host {
  display: flex;
  justify-content: center;
  height: 800px;
  background-image: url("../../assets/img.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  .card:hover{
    opacity: 1;
    transform: scale(1.1);
  }
  mat-card {
    width: 12%;
    height: 65%;
    margin: 2%;
    opacity: 0.6;
    margin-top: 4%;
    transition: all .5s linear;
    /* transform: perspective(100px) rotateY(10deg); */
    mat-card-header {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    mat-card-content {
      display: flex;
      flex-flow: column;
      align-items: center;
        h2 {
          font-size: 20px;
          padding: 1em 0em;
          text-align: center;
        }
      }
      mat-card-actions {
        display: flex;
        flex-flow: column;
        align-items: center;
        button:hover{
          background-color: blueviolet ;
          color: white;
        }
    }

  }
}
